<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout ('Nuevo Usuario', ~{::body},'setUser')}">
  <body>
    <!-- https://stackoverflow.com/questions/48359208/spring-thymeleaf-templateprocessingexception-in-springinputgeneralfieldtagproces?rq=1 -->
    <form action="#" th:action="@{/user}" th:object="${user}" method="post">
      <p>Nombre: 
        <input type="text" th:field="*{name}" /></p>
      <p>Edad: 
        <input type="number" th:field="*{age}" /></p>
      <p>
        <input type="submit" value="Registrar" /></p>
    </form>
  </body>
</html>